# Xcode
.DS_Store
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.xcworkspace
!*.xcworkspace
*.xccheckout
*.xcscmblueprint
*.xcuserstate
project.xcworkspace/
xcuserdata/

# Swift Package Manager
.build/

# CocoaPods
Pods/
IDEWorkspaceChecks.plist
contents.xcworkspacedata
