# Xcode
.DS_Store
build/
DerivedData/
*.pbxuser
*.xccheckout
*.xcscmblueprint
*.xcuserstate
xcuserdata/

# Swift Package Manager
.build/

# CocoaPods
IDEWorkspaceChecks.plist
contents.xcworkspacedata
*.ipa
*.zip
report.xml
